.alert-container {
    position: fixed;
    right: 0;
    top: 10vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    gap: 30px;
}

.alert.error {
    --border: red;
    --bg: rgba(255, 0, 0, 0.19);
    --color: black;
}
.alert.success {
    --border: green;
    --bg: rgba(0, 128, 0, 0.24);
    --color: black;
}
.alert.warning {
    --border: orange;
    --bg: rgba(255, 165, 0, 0.23);
    --color: black;
}

.alert.info {
    --border: #6cae96;
    --bg: rgba(131, 255, 216, 0.28);
    --color: black;
}

.alert {
    border: solid var(--border) 1px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--color)
}
